@keyframes navbar-in {
	from {
		background-color: black;
		border: 1px solid black;
	}
    to {
		background-color: white;
		border: 1px solid #606060;
	}
}
@keyframes navbar-out {
	from {
		background-color: white;
		border: 1px solid #606060;
	}
    to {
		background-color: black;
		border: 1px solid black;
	}
}
@keyframes navbar-a-in {
    from {
		color: white;
	}
    to {
		color: black;
	}
}
@keyframes navbar-a-out {
	from {
		color: black;
	}
    to {
		color: white;
	}
}


@-webkit-keyframes navbar-in {
	from {
		background-color: black;
		border: 1px solid black;
	}
    to {
		background-color: white;
		border: 1px solid #606060;
	}
}
@-webkit-keyframes navbar-out {
	from {
		background-color: white;
		border: 1px solid #606060;
	}
    to {
		background-color: black;
		border: 1px solid black;
	}
}
@-webkit-keyframes navbar-a-in {
    from {
		color: white;
	}
    to {
		color: black;
	}
}
@-webkit-keyframes navbar-a-out {
	from {
		color: black;
	}
    to {
		color: white;
	}
}


@font-face{
	font-family: Brusher;
	src: url('assets/Brusher.ttf')
}


body{
	background-image: url('assets/background.jpg');
	background-repeat: repeat;
	background-size: cover;
}
h1{
	font-family: Brusher,'Montserrat', Arial, sans-serif;
	font-size: 5em;
	text-align: center;
	margin: 1.5em 0px 0.2em 0px;
	text-shadow: 5px 5px 5px #8c8c8c;
}
p{
	font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", HelveticaNeue, 'Open Sans', Arial, sans-serif;
	margin: 1em 50px;
}
p.subtitle{
	text-align: center;
	font-size: 1.5em; 
}
table{
	margin: auto;
	border-spacing: 40px;
}
td{
	-webkit-animation-name: navbar-out 0.5s;
	animation: navbar-out 0.5s;
	font-family: 'Montserrat';
	background-color: black;
	border: 1px solid black;
	width: 175px;
	height: 50px;
	text-align: center;
}
td a{
	-webkit-animation-name: navbar-a-out 0.5s;
	animation: navbar-a-out 0.5s;
	width: 100%;
	display: block;
	text-decoration: none;
	color: white;
}
td:hover{
	-webkit-animation-name: navbar-in 0.5s;
	animation: navbar-in 0.5s;
	background-color: white;
	border: 1px solid #606060;
}
td:hover a{
	-webkit-animation: navbar-a-in 0.5s;
	animation: navbar-a-in 0.5s;
	color: black;
}
.res{
	text-align: center;
	color: #0f0f0f; /*unnoticeable color change, please revise*/
	font-size: 15px; /*um*/
}
